<p>Hey <%= name %>,</p>
<h1>
  welcome to DropZone.
</h1>
<p>
  Welcome to dropzone, to change your account password just click on the link below to reset your password
</p>

<a href="<%= confirmation_url %>">
  <%= confirmation_url %>
</a>